
<div class="container my-5">
  <p-card header="Dynamic Form" styleClass="card" [style]="{width: '350px'}">
    <p>A dynamic form requires an object model that can describe all scenarios needed by the form functionality. The example hero-application form is a set of questions —that is, each control in the form must ask a question and accept an answer. The data model for this type of form must represent a question.</p>
    <p-button (click)="showBasicDialog()" label="Register"></p-button>
    <p-dialog  [(visible)]="displayBasic" [style]="{width: '28vw'}">
      <ng-container *ngIf="meta && data">
        <app-dynamic-form [meta]="meta" [data]="data"></app-dynamic-form>
      </ng-container>
      <button class="btn btn-primary mt-3  text-end" (click)=" refresh()">Refresh</button>
    </p-dialog>
  </p-card>
</div>